.app {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .content {
        flex-grow: 1;
        position: relative;
        overflow: auto;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
